{% extends 'website/base.html' %}
{% load static %}

{% block sbjct_container %}
	<h2>Musicas encontradas</h2>
	
	{% if musics %}
		{% for music in musics %}
			<div class="songclass">
				<img src="{% static 'images/website/cd.png'%}" class="music_image song_item" align="middle">
						
				<h3 class="music_singer song_item"> {{music.name}} <sub>({{music.singer}})</sub></h3> 
							
				<a href="{{MEDIA_URL}}{{music.file}}" class="downloadbutton" download><button>DOWNLOAD</button></a>
						
				<audio controls class="music_player song_item">
					<source src="{{MEDIA_URL}}{{music.file}}" type = "audio/mp3">
				</audio>
			</div>
		{% endfor %}
	{% else %}
		<strong>Sorry, we didn't find what you are looking. Try again.</strong>
	{% endif %}
	
	<h2>Playlists encontradas</h2>
	
	{% if playlists %}
		{% for playlist in playlists %}
			<!-- <a href="cdpage/{{playlist.name}}/"><div class="songclass"> -->
			<a href="{% url 'cdpage' playlist.slug %}"><div class="songclass">
				<img src="{% static 'images/website/cd.png'%}" class="music_image song_item" align="middle">
						
				<h3 class="music_singer song_item">{{playlist.name}}</h3> 
			</div></a>
		{% endfor %}
	{% else %}
		<strong>Sorry, we didn't find what you are looking. Try again.</strong>
	{% endif %}
	
{% endblock %}

